#house_page{
    background-color: #FDFDFD;
    padding-bottom: 2em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:"photo photo"
                        "housebooking housebooking";

    box-shadow: inset 0px 7px 3px -3px rgba(50, 50, 50, 0.75);
}

#houseinfo_booking{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-area: housebooking;
}

#house_photos {
  grid-area: photo;
  justify-self: center;
  width: 100%;
}

#house_photos img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 30em;
  margin: 0em;
  padding: 0em;
}

#house_info{
    margin: 2em;
    margin-top: 0em;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-style: normal;
    max-width: 40%;
}

#house_info h1{
    font-weight: bolder;
    font-size: 2.5em;
    margin-bottom: 0em;
}

#house_data h2 {
  display: inline;
}

#house_data h3 {
  display: inline;

  font-weight: lighter;
  color: #777777;
}

#house_data h3:before {
  content: " • ";
}

#house_data h4 {
  font-weight: lighter;
  color: #555555;
  font-size: 1.1em;
}

#house_info span{
  display: block;

  margin-top: 2em;

  font-weight: lighter;
  color: #555555;
  font-size: 1em;
}
#house_info a{
  display: inline-block;

  margin-top: 5em;
  vertical-align: 50%;

  font-weight: lighter;
  color: #555555;
  font-size: 2em;
  font-weight: 900;
}
#house_info a b{
  text-align: center;
  vertical-align: 10%;
}

#booking{
    flex-direction: column;
    align-items: center;

    background-color: #eeeeee;
    background: linear-gradient(to bottom right, rgba(247,247,247,1) 0%, rgba(253,253,253,1) 50%, rgba(247,247,247,1) 100%);
    min-width: 40%;
    max-width: 100%;

    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    font-style: normal;

    margin: 1em;
    padding: 0.5em;

    border-radius: 1.4em;
    border-style: none;
    box-shadow: 0 0 0.4em rgba(70, 70, 70, 0.5);
}

#booking p{
    margin: 0.5em;
    text-align: center;
    font-size: 2em;
    color: #E05A61;
}

#booking_form{
    margin: 1%;
    justify-self: center;
}

.button{
  -webkit-appearance: button;
  -moz-appearance: button;

  align-self: center;
  align-content: center;
  align-items: center;

  text-decoration: none;
  text-transform: uppercase;
  color: initial;

  margin-top: 1em;

  border: none;
  border-radius: 2px;
  opacity: 1;
  background-color: #252525;
  color: #fdfdfd;
  height: 3em;
  width: 11.1em;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;

  cursor: pointer;

  position: relative;
  left: 2em;
}

.button:hover {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    text-shadow: 0px 0px 5px #bbbbbb;
}

#overlay_black{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: fill;
  background: #000;
  opacity: 0.9;
  z-index: 5;
  display: none;
}

#overlay {
  position: absolute;
  background-color: white;
  top: 10%;
  left: 25%;
  min-width: 50%;
  min-height: 50%;
  z-index: 10;
  display: none;
  border-radius: 1.4em;
  padding: 2em;
  font-family: "Roboto", sans-serif;
}

#overlay h3 {
  margin: 1em 1em 0em 1em;
  font-size: 1.3em;
  font-weight: normal;
  color: #555555;
}

#overlay span {
  margin-left: 2em;
  margin-right: 2em;
  display: block;
  font-weight: lighter;
  color: #777777;
}

#overlay button {
  border-style: solid;
  border-width: 1.5px;
  border-color: #E05A61;
  border-radius: 1.4em;
  background-color: #fdfdfd;

  text-align: center;

  color: #E05A61;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 1em;

  padding: 0.5em;
  min-width: 6em;

  position: relative;
  left: 5%;
  margin-top: 1em;
  margin-right: 1em;

  cursor: pointer;
}

#img_upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  z-index: -1;
}
#img_upload + label{
  cursor: pointer;
  content: url(/images/edit.png);
  background-color: #252525;
  width: 3em;
  height: 3em;
  border-radius: 2em;

  position:relative;
  top: 1em;
  left: -10em;

  border: 0.05em solid #fdfdfd;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#img_upload + label :hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#delete_button{
  position:relative;
  top: 0.5em;
  left: -10em;
  width: 9em;
  height: 3em;
}

#house_owner_img{
  border-radius: 0.2em;
}

#house_owner_link{
  font-size: medium;
  font-weight: bolder;
  color: #000;
}
