body{
    display: grid;
    grid-template-rows: 15em 10em;
    grid-template-columns: 30em;
}

header{
    grid-row: 1;
    display: grid;
	grid-template-areas: "h1"
                         "h2";
}

header h1{
	grid-area: h1;
}

header h2{
	grid-area: h2;
}

#signup{
    grid-row: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#signup a{
    flex-grow: 1;
}