a {
	text-decoration: none;
	color: inherit;
}

body{
	background-color: #E8A87C;
    margin-left: 10em;
    margin-bottom: 10em;
	margin-top: 0;
	max-width: 70%;
}

div#main{
	color:#252525;
	background-color: #FFFFFF;
    font-family: "Roboto";
	padding: 1em;
	padding-bottom: 0.5em;
	line-height: 0.4em;
    word-spacing: 15%;
    text-align: center;
    box-shadow: 0em 0.6em 0.5em rgba(0.7, 0.7, 0.7, 0.4);
}

div#main h1{
    font-size: 2em;
    font-family: "Cambria";
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    margin-bottom: 2em;
}

div#main h2{
    font-size: 1em;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

div#signup{
	color:#252525;
	background-color: #FFFFFF;
    font-family: "Roboto";
	padding: 1em;
	padding-bottom: 0.5em;
	line-height: 0.4em;
    word-spacing: 15%;
    text-align: center;
    box-shadow: 0em 0.6em 0.5em rgba(0.7, 0.7, 0.7, 0.4);
}

.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    background-color: #252525;
    color: #FFFFFF;
    padding: 0.7em;
    padding-left: 7em;
    padding-right: 7em;
    font-weight: lighter;
}
