a {
	text-decoration: none;
	color: inherit;
}

body{
    display: grid;
    grid-template-rows: 20em 10em;
    grid-template-columns: 30em;

	background-color: #E8A87C;
    margin-left: 10em;
    margin-bottom: 10em;
	margin-top: 0;
	max-width: 70%;
}

header{
    grid-row: 1/2;
    display: grid;
	grid-template-areas: "h1"
                         "h2";
}

header h1{
	grid-area: h1;
}

header h2{
	grid-area: h2;
}

#login_button{
    position: relative;
    left: -78px;
}

#register_button{
    position: relative;
    top: -39.4px;
    left: 78px;
}

div.main{
	color:#252525;
	background-color: #FDFDFD;
	font-family: 'Roboto',sans-serif;
	padding: 1em;
	padding-bottom: 0.5em;
	line-height: 0.4em;
    word-spacing: 15%;
    text-align: center;
    box-shadow: 0em 0.6em 0.5em rgba(0.7, 0.7, 0.7, 0.4);
}

div.main h1{
    font-size: 2em;
    font-family: 'Cambria';
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    margin-bottom: 2em;
}

div.main h2{
    font-size: 1em;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin-bottom: 4em;
}

#register_page{
    padding-bottom: 30em;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    box-sizing: border-box;
    margin-bottom: 0.5em;
    padding: 0.25em;
    width: 19em;
    height: 2.2em;
    border: 1px solid #DDDDDD;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 1em;
    outline: none;
}

.button:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;

    text-shadow: 0px 0px 5px #BBBBBB;
}

.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    text-transform: uppercase;
    color: initial;

    border: none;
    border-radius: 2px;
    opacity: 1;
    background-color: #252525;
    color: #FDFDFD;
    height: 3em;
    width: 11.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;

    cursor: pointer;
}

footer{
    height: 0%;
    width: 0%;
}

#create_button{
    margin-top: 2em;
}

input:invalid {
    border: 1px solid red;
}
