.page_header{
    display: flex;
    justify-content: space-between;
}

#logo_name{
    display: flex;
    justify-content: flex-start;
}

.page_header img{
    float: right;
    align-self: center;
}

#user_profile a{
    align-self: center;
    position: relative;
    /*top: 5px;*/
}
