a {
  text-decoration: none;
  color: inherit;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  background-image: url(/images/background.jpg);
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
  margin: 0em;
  overflow-x: hidden;
}

.page_header { 
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;

  background-color: #fdfdfd;
  color: #252525;
  padding: 0em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0em;
  box-shadow: 0em 0.1em 0.5em rgba(0.7, 0.7, 0.7, 0.4);
  align-items: center;

  z-index: 20;
}

.page_header h1 {
  font-family: "Cambria";
  font-weight: bolder;
  font-style: italic;
  font-size: 1.2em;
  margin-left: 1em;
}

#logo_name {
  display: flex;
  justify-content: flex-start;
}

.page_header img {
  float: right;
  align-self: center;
}

#logo_name a {
  align-self: center;
}

#user_profile_info {
  display: flex;
  justify-content: flex-end;
}

#username_link,
.profile_dropdown a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  font-weight: lighter;
  color: #888888;
  display: inline;
}

.profile_dropdown img {
  margin-right: 2em;
  margin-left: 1em;
  display: inline-flex;
  border-radius: 0.7em;
  object-fit: cover;
}

.profile_dropdown {
  position: relative;
}

.dropdown_content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #fdfdfd;
  min-width: 6em;
  padding: 0.5em;
  z-index: 1;
  display: none;
  top: 1.3em;
  right: 1.5em;
  box-shadow: 0.3em 0.9em 1em rgb(50, 50, 50, 0.1);
}

.dropdown_content div {
  padding-bottom: 0.7em;
  border-bottom: 1px solid #cccccc;
}

.profile_dropdown:hover .dropdown_content {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown_content:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown_content a,
.logout_button {
  cursor: pointer;
  margin: 0.5em;
}

.dropdown_content a:hover,
.logout_button:hover,
#username_link:hover{
  color: #E05A61;
}

.logout_button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  border: none;
  text-decoration: none;
  background-color: #fdfdfd;

  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  font-weight: lighter;
  color: #888888;
  padding-left: 0em;
}
