#search_bar{
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 70px;

    transition: 1s ease;

    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 13%;
    width: fit-content;
    box-shadow: 0px 2px 5px rgba(0.7, 0.7, 0.7, 0.4);
}

.search_label{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #909090;
    text-transform: uppercase;
    display: block;
    margin-left: 25px;
}

.search_form{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.search_input{
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    padding: 10px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.submit_search_button:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;

    text-shadow: 0px 0px 5px #BBBBBB;
}

.submit_search_button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    align-self: center;

    text-decoration: none;
    text-transform: uppercase;
    color: initial;

    border: none;
    border-radius: 10px;
    opacity: 1;
    background-color: #252525;
    color: #FFFFFF;
    height: 3em;
    width: 11.1em;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;

    cursor: pointer;
}

.search_input_field_small .search_input{
    width: 70px;
    margin: 0px 25px;
}

.search_input_field_medium .search_input{
    width: 150px;
    margin: 0px 25px;
}

.search_input_field_large .search_input{
    width: 300px;
    margin: 0px 25px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section#housinhas{
    margin: 100px 13%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

a.house{
    background-color: #FFFFFF;
    margin: 1.5% 1.8%;
    padding: 0px 0px 10px 0px;
}

a.house h1{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #000000;
    margin: 3px 1px 3px 10px;
}

a.house h2{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #303030;
    margin: 3px 1px 3px 10px;
}
