.profile{
    border-radius: 1.4em;
    margin: 7em auto 0px;
    width: 60%;
    padding: 0.6em 3.4em;
    justify-content: flex-start;
    background-color: #FDFDFD;
    color:#252525;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    box-shadow: 0em 0.1em 0.5em rgba(0.7, 0.7, 0.7, 0.4);
}

#profile_pic{
    margin: 1.4em 2.8em 1.4em 0em;
    border-radius: 1.4em;
    width: 35%;
    height: 35%;
}

.profile_info p{
    position: relative;
    width:35%;
    word-break: break-word;
}

/*#description{
    position: fixed;
    width:35%;
    word-break: break-word;
}*/

/*p#description{
    position: fixed;
    margin: 50px 0px;
    overflow-wrap: normal;
    width: 30%;
    word-break: break-word;
}*/

#edit_profile_link{
    color: #41B3A3;
}

.profile_info input, .profile_info textarea{
    outline: none;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #DDDDDD;

    margin: 0.3em;
    margin-left: 0em;
    padding: 0.3em;
    padding-left: 0.5em;
    width: 90%;
    height: 100%;

    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 1em;
    
}

.profile_info textarea{
    resize: none;
    width: 90%;
}

.profile_info input[type=number]::-webkit-inner-spin-button, 
.profile_info input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#backtoprofile_link, #edit-profile-button{
    border-style: solid;
    border-width: 1.5px;
    border-color: #41B3A3;
    border-radius: 1.4em;
    background-color: #FDFDFD; 

    text-align: center;

    color: #41B3A3;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 0.9em;

    cursor: pointer;
}

#backtoprofile_link{
    padding: 0.535em;
    padding-left: 0.35em;
    padding-right: 0.35em;
    width: fit-content;

    margin-top: 1.4em;

    position: relative;
    left: 7.6em;
    top: -2.3em;
}

#edit-profile-button{
    text-decoration: none;

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    height: 2.5em;
    width: fit-content;
    padding: 0.37em;
}

#create_houses_button{
    margin: 0.7em;

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    align-self: center;

    text-decoration: none;
    text-transform: uppercase;
    color: initial;

    border: none;
    border-radius: 0.7em;
    opacity: 1;
    background-color: #252525;
    color: #FDFDFD;
    height: 3em;
    width: 11.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;

    cursor: pointer;
}

#create_houses_button:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;

    text-shadow: 0px 0px 5px #BBBBBB;
}


