.profile{
    border-radius: 20px;
    margin: 100px 20% 0% 20%;
    padding: 10px 50px;
    justify-content: flex-start;
    background-color: #FDFDFD;
    color:#252525;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    box-shadow: 0em 0.1em 0.5em rgba(0.7, 0.7, 0.7, 0.4);
}

#profile_pic{
    margin: 20px 40px 20px 0px;
    border-radius: 20px;
    width: 35%;
    height: 35%;
}

p#description{
    position: fixed;
    margin: 50px 0px;
    overflow-wrap: normal;
}

#edit_profile_link{
    color: #41B3A3;
}

.profile_info input, .profile_info textarea{
    outline: none;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #DDDDDD;

    margin: 3px;
    margin-left: 0px;
    padding: 3px;
    padding-left: 7px;
    width: 90%;
    height: 100%;

    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 1em;
    
}

.profile_info textarea{
    resize: none;
    width: 90%;
}

.profile_info input[type=number]::-webkit-inner-spin-button, 
.profile_info input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#backtoprofile_link, #edit-profile-button{
    border-style: solid;
    border-width: 1.5px;
    border-color: #41B3A3;
    border-radius: 20px;
    background-color: #FDFDFD; 

    text-align: center;

    color: #41B3A3;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 0.9em;

    cursor: pointer;
}

#backtoprofile_link{
    padding: 7.8px;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;

    margin-top: 20px;

    position: relative;
    left: 110px;
    top: -31.3px;
}

#edit-profile-button{
    text-decoration: none;

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    height: 2.5em;
    width: fit-content;
    padding: 5px;
}

#create_houses_button{
    position: relative;
    left: 20%;
    margin: 10px;

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    align-self: center;

    text-decoration: none;
    text-transform: uppercase;
    color: initial;

    border: none;
    border-radius: 10px;
    opacity: 1;
    background-color: #252525;
    color: #FDFDFD;
    height: 3em;
    width: 11.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;

    cursor: pointer;
}

#create_houses_button:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;

    text-shadow: 0px 0px 5px #BBBBBB;
}


