a {
	text-decoration: none;
	color: inherit;
}

body{
	background-color: #E8A87C;
    margin-left: 10em;
    margin-bottom: 10em;
	margin-top: 0;
	max-width: 70%;
}

header{
	color:#252525;
	background-color: #FFFFFF;
	font-family: "Roboto";
	padding: 1em;
	padding-bottom: 0.5em;
	line-height: 0.4em;
    word-spacing: 15%;
    text-align: center;
    box-shadow: 0em -5.5em 0.5em black,
                0em 1.3em 0.5em black;
}

header h1{
    font-size: 2em;
    font-family: "Cambria";
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

input {
    -webkit-appearance: none; 
    appearance: none;
}

#user_input form{
    color:#252525;
	background-color: #FFFFFF;
    font-family: "Roboto";
    font-weight: lighter;
	padding: 5em;
	line-height: 0.4em;
    word-spacing: 15%;
    text-align: center;
    box-shadow: 0em 1.4em 0.5em black;
}

#leave_login{
    color:#252525;
	background-color: #FFFFFF;
    font-family: "Roboto";
    font-weight: lighter;
	padding: 1em;
	padding-bottom: 0.5em;
	line-height: 0.4em;
    word-spacing: 15%;
    text-align: center;
    box-shadow: 0em 1.4em 0.5em black;
}



/*#signup :nth-child(n) {
    background-color: #252525;
    color: #FFFFFF;
    padding: 1em;
    font-weight: lighter;
}

#signup :nth-child(1) {
    background-color: #252525;
    color: #FFFFFF;
    margin-right: 0.5em;
}

#signup :nth-child(2) {
    background-color: #252525;
    color: #FFFFFF;
    margin-left: 0.5em;
}*/